.adviced_table{
    position: relative;
    display: block;
    width: 100%;
    border-spacing: 20px;
    border-color: aliceblue;
    border: 0;
}
.adviced_table img{
    width: 99%;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid rgb(233, 222, 203);
}
.title_article{
    color: rgba(233, 222, 203, 0);
}
.adviced_table a{
    display: block;
    position: relative; 
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.advices_info span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.advices_info p{
    position: absolute;
    width: 99%;
    height: 97.5%;
    border-radius: 15px;
    border: 3px solid rgb(233, 222, 203);
    color: rgba(233, 222, 203, 0);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Cuprum', sans-serif;   
}
.advices_info p:hover{
    background-color: hsla(0, 10%, 20%, 0.8);
    transition: 0.4s all;
    color: rgb(233, 222, 203);

}
@media(max-width:900px){
    .advices_info p{
        font-size: 24px;
    }
}
@media(max-width:700px){
    .advices_info p{
        font-size: 14px;
        line-height: 18px;
        height: 95.3%;
    }
}
