*{
	margin: 0;
	padding: 0;

}

.conteiner{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
	min-width: 320px;
	background:url(../image/background.jpg) center no-repeat;
	background-attachment: fixed;
    background-size: cover;
}
.wrap{

	padding: 0 0 5px 0;
	margin: 0 auto;
}
.colection{
	max-width: 1900px;
	margin: 0 100px;
}
@media(max-width:1300px){
	.colection{
		margin: 0 50px;
		}
}
@media(max-width:1000px){
	.colection{
		margin: 0;
		}
}