.header{
	position: relative;
	width: 100%;
}
.header_wrap{
	background:url(../image/logo3.png) center no-repeat;
    background-size: cover;
	position: relative;
	height: 45vh;
	width: 100%;
}
.header_top{
	position: relative;
	display: flex;
	background-color: #0f0f11;
	width: auto;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 8px 30px;
	font-family: 'Oswald', sans-serif;
}
.header a:hover{
	background-color: #ff0036;
	transition: 0.4s all;
	padding: 5px 35px;
}

@media(max-width:1450px){
	.header_wrap{
		height: 35vh;
	}
}
@media(max-width:1150px){
	.header_wrap{
		height: 28vh;
	}
}
@media(max-width:950px){
	.header_wrap{
		height: 24vh;
	}
		.header_top{
		padding: 10px 15px;
	}
}
@media(max-width:850px){
	.header_wrap{
		height: 20vh;
	}

}
@media(max-width:750px){
	.header_wrap{
		height: 16vh;
	}
}

