.main{
    background-color:rgb(221, 203, 170) ;
    margin: 0px auto;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: 0;
}
.content{
    position: relative;
    margin: 5px 10px;
    flex-basis: 78%;
    background-color: hsla(120, 4%, 75%, 0.5);
    padding: 5px 30px;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.news_line{
    position: relative;
    display: block;
    flex-basis: 22%;
    max-width: 380px;
    background-color: hsla(120, 1%, 32%, 0.9);
    border-radius: 5px;
} 

.news_line a{
    color: #6d6d6d00;
    text-align: center;
    font-size: 16px;
    font-family: 'Cuprum', sans-serif;   
}
.news_line a:hover{
    color: #cacaca;
    text-align: center;
    font-size: 16px;
    font-family: 'Cuprum', sans-serif;   
    z-index: 1;
}
.news_line img{
    padding: 0px;
    margin: 0;
    object-fit: cover;
    width: 240px;
    height: 350px;
}
.first_news, .second_news, .third_news{
    height: 350px;
    border: 10px solid rgb(53, 53, 53);
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    margin: 10px;
    color: #6d6d6d00;
    text-align: center;
    font-size: 16px;
    font-family: 'Cuprum', sans-serif;   
}
.first_news_text{
    position: absolute;
    padding: 5px 15px;
    margin: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
    height: 340px;
}
.second_news_text{
    position: absolute;
    padding: 5px 15px;
    margin: 10px;
    top: 33.9%;
    left: 10px;
    right: 10px;
    height: 340px;
}
.third_news_text{
    position: absolute;
    padding: 5px 15px;
    margin: 10px;
    left: 10px;
    right: 10px;
    top:66.95%;
    height: 340px;
}
.first_news_text:hover, .second_news_text:hover, .third_news_text:hover{
    background-color: hsla(0, 0%, 35%, 0.7);
    transition: 0.4s all;
}



/*.main{
    margin: 0px auto;
    display: flex;
    align-items: flex-start;
}
.first_s_img{
    display: flex;
    flex-basis: 50%;
    margin-left: 120px;
    margin-right: 40px;
    margin-bottom: 90px;
    position: inherit;
}
.first_s_img img{
    display: block;
    position: relative;
    max-width: 650px;
}
.first_s_text{
    flex-basis: calc(100%-50%-40px);
    color: #686868;
}
.first_s_text .first_s_title{
    font-size: 32px;
    line-height: 48px;
    font-family: 'Lemonada', cursive;
}
.first_s_text p{
    max-width: 90%;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 25px 0;
    margin-right: 90px;
    font-family: 'Cuprum', sans-serif;
}
@media(max-width:1400px){
	.main{
        margin: 20px auto;
    }
    .first_s_img{
        margin-right: 30px;
         flex-basis: auto;
    }
    .first_s_text{
        flex-basis: calc(100%-43%-30px);
    }
}
@media(max-width:1200px){
    .main{
       flex-direction: column;
    }
    .first_s_img{
        margin-left: 20%;
        flex-basis: auto;
    }
    .first_s_text p{
        flex-basis: auto;
        margin-left: 60px;
        max-width: 100%;
    }
}
@media(max-width:960px){
    .main{
       flex-direction: column;
    }
    .first_s_img{
        margin-left: 15%;
        flex-basis: auto;
    }
    .first_s_img img{
        display: block;
        position: relative;
        max-width: 500px;
    }
    .first_s_text p{
        flex-basis: auto;
        margin-left: 60px;
        max-width: 100%;
    }
}
@media(max-width:660px){
    .first_s_img{
        margin-left: 10%;
        flex-basis: auto;
    }
    .first_s_img img{
        display: block;
        position: relative;
        max-width: 400px;
        height: 250px;
    }
}
@media(max-height:320px){
    .main{
        flex-direction: column;
     }
     .first_s_img{
         margin: 0 0 20px 0;
         flex-basis: auto;
     }
     .first_s_text p{
         flex-basis: auto;
         margin-left: 60px;
         max-width: 100%;
     }
 }