.reting{
    text-align: center;
    padding: 5px 30px;
}
.reting img{
    height: 80px;
}
.result_f{
    height: 20px;
    width:  80px;
    margin-bottom : 10px;
    padding: 22px;
    color: white;
    font-weight: 400;
	font-size: 16px;
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    background-color:rgba(53, 53, 53, 0.5);
    border-radius: 5px;
}
.form{
	display: inline-block;
	margin-right: 10px;
}
.form input[type=radio] {
	display: none;
}

.form label {
    display: block;
	cursor: pointer;
    padding: 5px 15px;
    color: white;
    font-weight: 700;
	font-size: 20px;
    line-height: 26px;
    font-family: 'Oswald', sans-serif;
    background-color:rgb(53, 53, 53);
	border-radius: 5px;
	user-select: none;
}
.form input[type=radio]:checked + label {
    background: #ff0036;
}
.submit_reset{
    display: inline-block;
    margin-left:  50px;

}
.submit_reset input[name="submit"] {
    display: block;
    width: 120px;
    padding: 5px 15px;
    color: white;
    font-weight: 700;
	font-size: 24px;
    line-height: 28px;
    font-family: 'Oswald', sans-serif;
    background: #ff0036;
    border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 5px;
    text-align: center;
}
.submit_reset input[name="reset"] {
    display: none;
    width: 120px;
    padding: 5px 15px;
    color: white;
    font-weight: 700;
	font-size: 24px;
    line-height: 28px;
    font-family: 'Oswald', sans-serif;
    background-color:rgb(53, 53, 53);
    border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 5px;
    text-align: center;
}
@media(max-width:1600px){
    .reting img{
        height: 70px;
    }
    .submit_reset{
        margin-left:  10px;  
    }
    .submit_reset input[name="submit"] {
        width: 90px;
        padding: 5px 10px;
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;

    }
    .submit_reset input[name="reset"] {
        width: 90px;
        padding: 5px 10px;
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;

    }
    .form label {
        padding: 5px 5px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }
    .result_f{
        margin: 0 0 10px 0;
        padding: 15px 10px;
        font-size: 16px;
        line-height: 18px;
    }
    }
@media(max-width:960px){
    .reting{
        padding:3px;
    }
    .reting img{
        height: 60px;
    }
    .submit_reset input[name="submit"] {
        width: 70px;
        padding: 2px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .submit_reset input[name="reset"] {
        width: 70px;
        padding: 2px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .form{
        margin-right: 5px;
    }
    .form label {
        padding: 2px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .result_f{
        width:  70px;
        margin: 0 0 10px 0;
        padding: 7px 5px;
        font-size: 14px;
        line-height: 18px;
    }
}
@media(max-width:600px){
    .reting{
        position: relative;
        display: flex;
        padding:3px;
        
    }
    .reting img{
        height: 60px;
    }
    .submit_reset input[name="submit"] {
        width: 70px;
        margin: 10px 0 0 0;
        padding: 2px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .submit_reset input[name="reset"] {
        width: 80px;
        margin: 10px 0 0 0;
        padding: 2px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .form{
        margin-right: 2px;
    }
    .form label {
        padding: 2px;
        color: white;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    .result_f{
        width:  60px;
        margin: 0 0 10px 0;
        padding: 7px 5px;
        font-size: 12px;
        line-height: 16px;
    }
}