.video_tables{
    position: relative;
    display: block;
    width: 100%;
}
.video_tables tr[id="name_video"] td{
    border-bottom: 5px solid aliceblue;
}
.video_tables tr td{
    border-bottom: 3px solid aliceblue;
}
.video_tables td{
    text-align: center;
    width: 100%;
    color: aliceblue;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Cuprum', sans-serif;   
}
.video_youtube p{
    padding: 10px;
    border-bottom: 1px solid aliceblue;
}

.video_info{
    width: 100%;
}
.video_info img{
    margin: 15px 15px 0 0;
    object-fit: cover;
    height: 350px;
    width: 350px;
    border: 3px solid aliceblue;
    border-radius: 5px;
}
.video_youtube iframe{
    margin: 15px 0 15px 15px;
    height: 252px;
    width: 448px;
    border: 3px solid aliceblue;
    border-radius: 5px;
}
.video_youtube p{
    color: aliceblue;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Cuprum', sans-serif;   
}
@media(max-width:1200px){
    .video_info img{
        margin: 10px 10px 0 0;
        height: 300px;
        width: 300px;
    }
    .video_youtube iframe{
        margin: 15px 0 15px 15px;
        height: 220px;
        width: 392px;
        border: 3px solid aliceblue;
        border-radius: 5px;
    }
}
@media(max-width:900px){
    .video_info img{
        margin: 10px 10px 0 0;
        height: 250px;
        width: 250px;
    }
    .video_youtube iframe{
        margin: 15px 0 15px 15px;
        height: 157px;
        width: 280px;
        border: 3px solid aliceblue;
        border-radius: 5px;
    }
}
}